front-end/node_modules

# Output
front-end/.output
front-end/.vercel
front-end/.netlify
front-end/.wrangler
front-end/.svelte-kit
/build

# OS
front-end/.DS_Store
front-end/Thumbs.db

# Env
front-end/.env
front-end/.env.*
!.env.example
!.env.test

# Vite
front-end/vite.config.js.timestamp-*
front-end/vite.config.ts.timestamp-*
